langchain-core
streamlit
langchain
langchain-community
langchain-google-genai
langchain-mistralai
mistralai
langchain-tavily
langgraph
google-genai
tavily-python
beautifulsoup4
requests
python-dotenv
lxml